## 표본 추출의 개요
`확률적 표본 추출`의 종류
 - 단순 임의 추출 (Random Sampling): 별도의 규칙이 존재하지 않은 보통의 임의 추출
 - 층화 표본 추출 (Stratified Sampling): 군집별로 지정한 비율만큼의 데이터를 임의 추출 (코호트 분석에 활용됨)
 - 계통 추출 (Systematic Sampling): 첫 표본을 무작위로 추출하고, 표집 간격 k 만큼 떨어진 곳의 데이터를 추출
 - 군집 추출 (Cluster Sampling): 소수의 군집으로 분할하고 일정 수의 소집단을 임의 표본 추출

1. Pandas: sample()
 - 단순임의 추출을 시행하는 메서드
 - n: 표본의 개수, frac: 비율, random_state: 표본 추출 결과를 고정
 - groupby(): 메서드를 추가하면 층화표본 추출 가능<br>
<br>
2. Sklearn: train_test_split()
 - 입력 데이터프레임이나 배열을 2개의 Train, Test Set로 나누는 함수
 - Train_size 또는 Test_size에 개수 또는 비율을 입력하여 표본 개수 조절
 - Random_state는 표본 추출 결과를 고정

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Pandas 활용

In [2]:
df = pd.read_csv("C:/Users/Python/Data/bike.csv")

In [3]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

In [4]:
df.sample(2) # n = 2

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
3439,2011-08-13 05:00:00,3,0,0,1,26.24,30.305,73,7.0015,3,15,18
7917,2012-06-10 06:00:00,2,0,0,1,25.42,29.545,73,0.0000,3,27,30

In [7]:
df.sample(n = 3)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4119,2011-10-03 16:00:00,4,0,1,2,16.40,20.455,76,7.0015,16,202,218
684,2011-02-11 20:00:00,1,0,1,1,9.02,11.365,55,8.9981,2,61,63
3525,2011-08-16 19:00:00,3,0,1,1,30.34,33.335,48,12.9980,56,320,376

In [14]:
df.sample(n = 2, random_state = 34)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4219,2011-10-07 20:00:00,4,0,1,1,22.14,25.760,49,0.0000,30,167,197
1409,2011-04-04 14:00:00,2,0,1,2,30.34,32.575,27,32.9975,47,76,123

In [15]:
df['season'].unique()

array([1, 2, 3, 4], dtype=int64)

In [17]:
print(len(df['season'].unique()))

4

In [21]:
type(df['season'])

pandas.core.series.Series

In [23]:
print(df['season'].nunique())

4

In [25]:
df.sample(frac = 0.005, random_state = 34)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4219,2011-10-07 20:00:00,4,0,1,1,22.14,25.760,49,0.0000,30,167,197
1409,2011-04-04 14:00:00,2,0,1,2,30.34,32.575,27,32.9975,47,76,123
6289,2012-02-18 07:00:00,1,0,0,1,9.84,14.395,70,0.0000,8,33,41
7506,2012-05-12 03:00:00,2,0,0,1,19.68,23.485,59,0.0000,14,20,34
7509,2012-05-12 06:00:00,2,0,0,1,17.22,21.210,67,6.0032,10,23,33
2717,2011-07-02 03:00:00,3,0,0,1,26.24,31.060,53,0.0000,5,21,26
4094,2011-10-02 15:00:00,4,0,0,3,14.76,16.665,81,16.9979,29,144,173
1526,2011-04-09 11:00:00,2,0,0,2,14.76,18.180,81,0.0000,51,91,142
9325,2012-09-11 22:00:00,3,0,1,1,22.96,26.515,64,7.0015,27,189,216
5508,2012-01-04 15:00:00,1,0,1,2,7.38,7.575,37,22.0028,9,81,90
5520,2012-01-05 03:00:00,1,0,1,1,8.20,12.880,61,0.0000,0,4,4
1531,2011-04-09 16:00:00,2,0,0,2,15.58,19.695,82,0.0000,73,118,191
193,2011-01-09 08:00:00,1,0,0,1,4.10,4.545,49,19.0012,0,10,10
5459,2012-01-02 14:00:00,1,1,0,1,12.30,13.635,36,27.9993,10,141,151
8311,2012-07-07 16:00:00,3,0,0,1,41.00,43.180,19,11.0014,102,192,294
2513,2011-06-12 15:00:00,2,0,0,1,32.80,38.635,59,19.9995,142,218,360
180,2011-01-08 19:00:00,1,0,0,1,5.74,6.060,36,16.9979,4,26,30
238,2011-01-11 07:00:00,1,0,1,2,6.56,11.365,55,0.0000,2,97,99
7833,2012-06-06 18:00:00,2,0,1,3,24.60,31.060,53,12.9980,94,688,782
6963,2012-04-08 11:00:00,2,0,0,1,20.50,24.240,25,19.0012,195,209,404
7160,2012-04-16 17:00:00,2,1,0,1,32.80,34.850,33,26.0027,111,601,712
9150,2012-09-04 15:00:00,3,0,1,1,32.80,38.635,59,31.0009,68,224,292
6814,2012-04-02 06:00:00,2,0,1,1,14.76,15.910,71,31.0009,6,104,110
1879,2011-05-05 05:00:00,2,0,1,1,13.94,15.910,66,16.9979,1,29,30
3440,2011-08-13 06:00:00,3,0,0,1,26.24,30.305,73,6.0032,3,19,22
7811,2012-06-05 20:00:00,2,0,1,1,22.96,26.515,49,15.0013,44,371,415
3698,2011-09-05 00:00:00,3,1,0,2,28.70,33.335,74,15.0013,31,66,97
3166,2011-08-01 20:00:00,3,0,1,1,29.52,34.090,62,15.0013,49,256,305
9514,2012-09-19 19:00:00,3,0,1,1,22.96,26.515,43,15.0013,72,539,611
9969,2012-10-19 18:00:00,4,0,1,1,22.96,26.515,83,7.0015,21,212,233
402,2011-01-18 18:00:00,1,0,1,2,9.02,11.365,80,11.0014,1,132,133
1019,2011-03-06 23:00:00,1,0,0,2,9.02,9.850,100,27.9993,0,9,9
1957,2011-05-08 11:00:00,2,0,0,1,23.78,27.275,49,6.0032,142,198,340
9771,2012-10-11 12:00:00,4,0,1,1,18.86,22.725,36,0.0000,47,279,326
7088,2012-04-13 17:00:00,2,0,1,1,22.96,26.515,24,11.0014,117,621,738
7867,2012-06-08 04:00:00,2,0,1,1,21.32,25.000,63,0.0000,1,9,10
7631,2012-05-17 08:00:00,2,0,1,1,21.32,25.000,55,30.0026,29,605,634
6261,2012-02-17 03:00:00,1,0,1,2,11.48,14.395,93,7.0015,0,1,1
1363,2011-04-02 16:00:00,2,0,0,1,15.58,19.695,62,22.0028,111,85,196
2846,2011-07-07 12:00:00,3,0,1,1,34.44,38.635,41,0.0000,32,139,171
2798,2011-07-05 12:00:00,3,0,1,1,32.80,36.365,43,7.0015,71,130,201
4351,2011-10-13 08:00:00,4,0,1,3,22.14,25.760,100,6.0032,10,199,209
7140,2012-04-15 21:00:00,2,0,0,1,25.42,31.060,57,16.9979,76,153,229
10009,2012-11-02 10:00:00,4,0,1,1,15.58,19.695,46,19.9995,21,183,204
1419,2011-04-05 00:00:00,2,0,1,1,25.42,31.060,50,7.0015,10,12,22
726,2011-02-13 15:00:00,1,0,0,2,16.40,20.455,30,19.9995,40,122,162
5010,2011-12-02 20:00:00,4,0,1,1,15.58,19.695,40,19.0012,12,178,190
10336,2012-11-16 02:00:00,4,0,1,2,12.30,15.150,70,11.0014,0,9,9
709,2011-02-12 21:00:00,1,0,0,1,10.66,15.150,41,0.0000,9,42,51
1716,2011-04-17 10:00:00,2,0,0,1,17.22,21.210,44,30.0026,91,120,211
7624,2012-05-17 01:00:00,2,0,1,1,24.60,28.030,83,11.0014,12,16,28
5121,2011-12-07 11:00:00,4,0,1,3,18.04,21.970,100,6.0032,3,47,50
2040,2011-05-11 22:00:00,2,0,1,1,20.50,24.240,72,16.9979,12,134,146
7179,2012-04-17 12:00:00,2,0,1,1,24.60,31.060,33,23.9994,65,179,244

In [26]:
df.sample(frac = 0.005, random_state = 34).shape # (54, 12) : 행, 열

(54, 12)

In [27]:
len(df.sample(frac = 0.005, random_state = 34)) # (54, 12) : 행, 열

54

In [28]:
df.groupby('season').sample(frac = 0.005, random_state = 34)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
5779,2012-01-15 23:00:00,1,0,0,1,6.56,9.850,43,6.0032,3,26,29
6133,2012-02-11 19:00:00,1,0,0,2,8.20,7.575,40,36.9974,2,85,87
1231,2011-03-16 03:00:00,1,0,1,2,11.48,13.635,100,15.0013,1,2,3
5748,2012-01-14 16:00:00,1,0,0,1,9.84,11.365,38,15.0013,28,178,206
1072,2011-03-09 05:00:00,1,0,1,2,9.84,12.120,81,8.9981,1,7,8
6328,2012-02-19 22:00:00,1,0,0,3,9.84,12.880,75,6.0032,8,47,55
86,2011-01-04 18:00:00,1,0,1,1,10.66,12.880,48,12.9980,3,179,182
522,2011-02-04 22:00:00,1,0,1,2,9.84,12.120,65,11.0014,1,45,46
5977,2012-02-05 06:00:00,1,0,0,2,10.66,12.120,70,16.9979,0,4,4
5570,2012-01-07 05:00:00,1,0,0,1,10.66,13.635,75,7.0015,2,7,9
6199,2012-02-14 13:00:00,1,0,1,2,14.76,16.665,40,16.9979,6,167,173
1151,2011-03-12 15:00:00,1,0,0,1,17.22,21.210,44,32.9975,81,101,182
6543,2012-03-09 21:00:00,1,0,1,1,14.76,16.665,34,22.0028,8,133,141
7668,2012-05-18 21:00:00,2,0,1,1,24.60,31.060,40,0.0000,49,209,258
7831,2012-06-06 16:00:00,2,0,1,1,26.24,31.060,41,8.9981,107,345,452
7516,2012-05-12 13:00:00,2,0,0,1,26.24,31.060,36,12.9980,293,366,659
7992,2012-06-13 09:00:00,2,0,1,2,26.24,30.305,69,39.0007,54,298,352
1349,2011-04-02 02:00:00,2,0,0,1,9.84,12.120,75,8.9981,1,20,21
2078,2011-05-13 12:00:00,2,0,1,2,21.32,25.000,88,12.9980,53,170,223
2058,2011-05-12 16:00:00,2,0,1,2,26.24,31.060,57,16.9979,50,238,288
1366,2011-04-02 19:00:00,2,0,0,1,14.76,16.665,53,23.9994,71,77,148
2031,2011-05-11 13:00:00,2,0,1,1,25.42,31.060,50,0.0000,36,157,193
1715,2011-04-17 09:00:00,2,0,0,1,16.40,20.455,43,19.0012,31,71,102
1437,2011-04-05 18:00:00,2,0,1,1,15.58,19.695,40,32.9975,19,248,267
2026,2011-05-11 08:00:00,2,0,1,1,19.68,23.485,77,16.9979,21,421,442
7545,2012-05-13 18:00:00,2,0,0,2,27.88,31.820,44,23.9994,129,260,389
7120,2012-04-15 01:00:00,2,0,0,2,22.14,25.760,56,11.0014,17,89,106
3375,2011-08-10 13:00:00,3,0,1,1,33.62,36.365,38,19.0012,41,150,191
9443,2012-09-16 20:00:00,3,0,0,1,24.60,31.060,53,7.0015,57,267,324
9025,2012-08-18 10:00:00,3,0,0,1,28.70,32.575,54,11.0014,166,314,480
3870,2011-09-12 07:00:00,3,0,1,1,23.78,27.275,83,0.0000,12,300,312
8165,2012-07-01 14:00:00,3,0,0,1,37.72,41.665,33,16.9979,98,346,444
9358,2012-09-13 07:00:00,3,0,1,1,22.14,25.760,77,0.0000,22,549,571
8246,2012-07-04 23:00:00,3,1,0,2,31.98,34.850,43,6.0032,31,152,183
2865,2011-07-08 07:00:00,3,0,1,2,28.70,33.335,79,12.9980,30,302,332
3226,2011-08-04 08:00:00,3,0,1,2,28.70,32.575,82,23.9994,29,369,398
4019,2011-09-18 12:00:00,3,0,0,1,22.14,25.760,64,8.9981,135,229,364
8956,2012-08-15 13:00:00,3,0,1,2,31.98,35.605,49,12.9980,88,206,294
3519,2011-08-16 13:00:00,3,0,1,1,31.16,34.090,48,19.9995,45,147,192
3026,2011-07-15 00:00:00,3,0,1,1,25.42,29.545,73,15.0013,23,57,80
9150,2012-09-04 15:00:00,3,0,1,1,32.80,38.635,59,31.0009,68,224,292
10514,2012-12-04 12:00:00,4,0,1,1,21.32,25.000,68,12.9980,39,273,312
4971,2011-12-01 05:00:00,4,0,1,1,10.66,12.120,56,16.9979,1,23,24
10768,2012-12-15 02:00:00,4,0,0,1,10.66,15.150,81,0.0000,6,63,69
4335,2011-10-12 16:00:00,4,0,1,2,22.96,26.515,88,15.0013,5,50,55
10760,2012-12-14 18:00:00,4,0,1,1,14.76,17.425,46,8.9981,23,432,455
5117,2011-12-07 07:00:00,4,0,1,3,18.04,21.970,100,7.0015,3,43,46
5036,2011-12-03 22:00:00,4,0,0,2,13.12,16.665,61,6.0032,17,97,114
4215,2011-10-07 16:00:00,4,0,1,1,26.24,31.060,44,0.0000,73,346,419
9653,2012-10-06 14:00:00,4,0,0,2,24.60,31.060,56,27.9993,269,307,576
5313,2011-12-15 11:00:00,4,0,1,2,16.40,20.455,62,27.9993,9,126,135
10044,2012-11-03 21:00:00,4,0,0,1,13.94,17.425,53,7.0015,31,135,166
9842,2012-10-14 11:00:00,4,0,0,1,22.96,26.515,52,19.9995,156,338,494
10389,2012-11-18 07:00:00,4,0,0,1,11.48,13.635,81,12.9980,3,39,42
9591,2012-10-04 00:00:00,4,0,1,3,26.24,28.790,89,0.0000,11,65,76

In [31]:
len(df.sample(frac = 0.0123)) # 1.23%로 추출 시 샘플 행의 개수

134

In [32]:
len(df['season'].sample(frac = 0.05))

544

### sklearn.model_selection의 train_test_split() 활용

In [29]:
df_train, df_test = train_test_split(df, train_size = 0.7, random_state = 123)
df_train.head(2)

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
4046,2011-09-19 15:00:00,3,0,1,2,24.60,30.305,60,15.0013,44,143,187
9262,2012-09-09 07:00:00,3,0,0,1,22.14,25.760,73,11.0014,20,50,70

In [30]:
print(len(df_train))
print(len(df_test))

7620
3266

In [34]:
df_train, df_test = train_test_split(df, train_size = 0.8)
df_train['temp'].max()

39.36